{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "welcome"}} - {{i18n .Lang "app_intro"}}</title>
<style type="text/css">
     #su{
         background-color: #458B00;
         width: 350px;
     }
     body {
         background:url("/static/img/t2.jpg");
         background-size: auto;
         background-position:center;
     }
</style>
{{end}}
{{define "body"}}


<div class="container" style="width: 550px;">
    <h2 style="color: yellow">{{i18n .Lang "logintitle"}}</h2><br/><br/>
    <form action="/customers/login/check" method="post" class="form-horizontal">
        <div class="form-group has-success">
            <label class="col-sm-2 control-label" for="inputSuccess">输入账号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputSuccess" name="login_name" style="border:2px solid yellowgreen;background:rgba(0, 0, 0, 0);">
            </div>
        </div>
        <br/><br/>
        <div class="form-group has-success">
            <label class="col-sm-2 control-label" for="inputSuccess">输入密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputSuccess" name="pwd" style="border:2px solid yellowgreen;background:rgba(0, 0, 0, 0);">
            </div>
        </div>
        <br/><br/><br/>
        <div class="form-group has-success">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info" id="su">{{i18n .Lang "login"}}</button>&nbsp;&nbsp;&nbsp;&nbsp;<h5><a
                    href="/customers/register">{{i18n .Lang "newregister"}}</a>&nbsp; <a href="/admins/login">{{i18n .Lang "adminlogin"}}</a> <a href="/forgetpassword/into">{{i18n .Lang "forget"}}</a></h5>

            </div>
        </div>
    </form>
</div>

{{end}}
